<h1><%= t ".title" %></h1>

<em><%= t ".description" %></em>

<table>
  <tr>
    <th><%= Poem.human_attribute_name(:title) %></th>
    <th><%= Poem.human_attribute_name(:author) %></th>
    <th><%= Poem.human_attribute_name(:body) %></th>
    <th><%= Poem.human_attribute_name(:posted_on) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @poems.each do |poem| %>
  <tr>
    <td><%= poem.title %></td>
    <td><%= poem.author %></td>
    <td><%= poem.body %></td>
    <td><%= poem.created_at %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_poem_path(poem) %></td>
    <td><%= link_to 'Destroy', poem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poem', new_poem_path %>
