<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @poem.title %>
</p>

<p>
  <b>Author:</b>
  <%= @poem.author %>
</p>

<p>
  <b>Body:</b>
  <%= @poem.body %>
</p>


<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
