<!DOCTYPE html>
<html>
<head>
  <title>I18nPoetry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="language-select">
    Language:
    <%= link_to_unless_current "English", locale: "en" %> |
    <%= link_to_unless_current "Pirate", locale: "pi" %>
  </nav>

<%= yield %>

</body>
</html>
